/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
h2 {
  margin: 0 auto;
  text-align: center;
  width: 25%;
  font-size: 5rem;
}
.intro {
  height: 100vh;
}
.intro .cta {
  display: flex;
  flex-direction: column;
  margin: 0% auto;
  padding-top: 40vh;
}
.intro .cta p {
  margin: 0 auto;
  font-size: 4.5rem;
}
.intro .cta a {
  text-decoration: none;
  margin: 2% auto 0;
}
.intro .cta button {
  font-size: 2rem;
  background-color: transparent;
  border: 1px solid black;
}
nav {
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
nav .nav-links {
  margin-left: 5%;
  padding: 1% 0;
}
nav .nav-links a {
  color: white;
  font-size: 2rem;
  padding-right: 5%;
}
.about {
  height: 100vh;
  padding-top: 5%;
}
.about .about-and-skills {
  display: flex;
}
.about .about-content {
  display: flex;
  flex-direction: column;
  margin: 5% 0% 5% 20%;
  width: 40%;
}
.about .about-content p {
  font-size: 2rem;
}
.about .about-content .profile-picture-cont {
  background-color: lightgray;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 5%;
}
.about .about-content .profile-picture-cont p {
  text-align: center;
}
.about .about-content .who-am-i {
  width: 50%;
}
.about .about-content .who-am-i h3 {
  font-size: 3rem;
}
.about .skills {
  width: 35%;
  margin: 5% 0;
}
.about .skills .skill {
  align-items: center;
  height: 7%;
  font-size: 2rem;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}
.about .skills .skill .skill-name {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
}
.about .skills .skill .icon-cont {
  background-color: lightgray;
  height: 100%;
  width: 10%;
}
.about .skills .skill img {
  width: 100%;
}
.projects {
  height: 100vh;
  padding-top: 5%;
}
.contact {
  height: 80vh;
  padding-top: 5%;
}
.contact form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 40%;
}
footer {
  text-align: center;
  font-size: 2rem;
  color: white;
  background-color: black;
  padding: 1%;
}
footer a {
  color: white;
}
