.about-section {
  min-height: 100vh;

  @media @mobile {
    padding-top: 20%;
    height: auto;
  }

  .about-and-skills {
    display: flex;

    @media @tablet {
      align-items: center;
      margin-top: 5%;
      flex-direction: column;
    }
  }

  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 20% 5% 15%;
    width: 20%;

    @media @tablet-landscape {
      align-items: center;
      margin: 10% 0;
      width: 60%;
    }

    @media @tablet {
      width: 80%;
    }

    @media @mobile {
      width: 85%;
    }

    p {
      font-size: 2rem;
    }

    .profile-picture-cont {
      background-color: lightgray;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      padding: 5%;
      margin-bottom: 3%;

      @media @tablet {
        padding: 0;
      }

      p {
        text-align: center;
      }
    }

    .who-am-i {
      width: 100%;
      text-align: center;

      @media @tablet {
        width: 90%;
      }

      h3 {
        font-size: 3rem;

        @media @tablet {
          font-size: 4rem;
        }
      }

      p {
        line-height: 1.4;
        @media @tablet {
          font-size: 3rem;
        }

        @media @mobile {
          width: 100%;
        }
      }
    }
  }

  // skills styles
  .skills-section {
    width: 35%;
    margin-top: 6%;

    @media @tablet-landscape {
      width: 60%;
      margin-right: 5%;
    }

    @media @tablet {
      width: 90%;
      margin: 0 auto;
    }

    @media @mobile {
      width: 90%;
      margin: 5%;
    }

    .skill {
      display: flex;
      align-items: center;
      height: 4.3vh;
      font-size: 2rem;
      border: 1px solid black;
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      @media @tablet-landscape {
        font-size: 2.5rem;
      }

      @media @mobile {
        font-size: 2rem;
        height: 6vh;
      }

      .skill-name {
        display: flex;
        align-items: center;
        height: 100%;
        width: 90%;
      }

      .icon-cont {
        display: flex;
        align-items: center;
        height: 100%;
        width: 10%;
        text-align: center;
        user-select: none;
        margin: 0 2% 0 1%;

        @media @mobile {
          margin-right: 2%;
        }

        i {
          margin: 0 auto;
          font-size: 3.5rem;

          @media @tablet {
            font-size: 3rem;
          }

          @media @mobile {
            font-size: 2.5rem;
          }
        }
      }

      .open-arrow {
        -webkit-transition: 0.4s ease;
        -moz-transition: 0.4s ease;
        transition: 0.4s ease;
        margin-right: 1%;
        user-select: none;
      }

      .inverted {
        transform: rotate(0.5turn);
        -webkit-transition: 0.4s ease;
        -moz-transition: 0.4s ease;
        transition: 0.4s ease;
      }
    }

    .skill-content {
      border: 1px solid black;
      padding: 2%;
      font-size: 1.8rem;

      @media @tablet-landscape {
        font-size: 2rem;
      }
    }
  }
}
