.cta {
  button {
    font-size: 2rem;
    background-color: @btn-primary;
    width: 100%;
    padding: 2%;
    border: 2px solid @btn-secondary;

    @media @laptop {
      font-size: 2.5rem;
    }

    &:hover {
      color: @btn-primary;
      background-color: @btn-secondary;
    }
  }
}

.contact-section {
  button {
    width: 30%;
    margin: 1% 0 0 69.5%;
    border: 2px solid @btn-secondary;
    background-color: transparent;
    font-size: 2rem;

    @media @laptop {
      font-size: 2.5rem;
      padding: 1%;
    }

    @media @mobile {
      font-size: 2rem;
      width: 100%;
      margin: 1% 0;
    }

    &:hover {
      color: @btn-primary;
      background-color: @btn-secondary;
    }
  }
}

.modal-content a {
  background-color: @btn-primary;
  color: @btn-secondary;
  border: 2px solid @btn-secondary;
  padding: 1%;
  font-size: 2rem;

  &:hover {
    background-color: @btn-secondary;
    color: @btn-primary;
  }
}
