.contact-section {
  height: 80vh;
  padding-top: 5%;
  background-color: @primary-dark;

  @media @mobile {
    padding-top: 20%;
  }

  h2 {
    margin-bottom: 2%;
    color: white;
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 30%;
    
    @media @laptop {
      width: 50%;
    }
    
    @media @mobile {
      width: 90%;
    }
    
    .form-input {
      margin: 0.5%;
      padding: 1%;
      background-color: #15131f;
      border: none;


      @media @laptop {
        font-size: 2rem;
        margin: 1%;
        padding: 1.5%;
      }

      @media @mobile {
        margin: 3% 0;
      }
    }

    textarea {
      min-height: 10vh;
    }
  }

  .links {
    margin: 8% auto;
    width: 30%;
    text-align: center;

    @media @mobile {
        width: 50%;
    }

    a {
      margin: 5%;

    }

    i {

      font-size: 4rem;
      background-color: @btn-primary;
      color: @primary-dark;
      padding: 2% 2.44%;
      border-radius: 50%;
      border: 5px solid transparent;

      &:hover{
          transition: 0.4s ease;
          border: 5px solid white;
          color: @btn-primary;
          background-color: @primary-dark;
      }
    }
  }
}
