html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  width: 100%;
  max-width: 100%;

  @media @mobile {
    scroll-behavior: auto;
  }
}

* {
  max-width: 100%;
}

body {
  overflow-x: hidden;
  height: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
textarea {
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

h2 {
  text-align: center;
  font-size: 5rem;
}

.no-scroll {
  overflow: hidden;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

section {
  padding-top: 5%;

  @media @tablet-landscape {
    padding-top: 10%;
  }
  @media @tablet {
    padding-top: 15%;
  }

  @media @mobile {
    height: auto;
    padding-top: 20%;
  }
}
