.hidden {
    display: none;
}

.visible {
    display: block;
}



.modal {
    position: fixed;
    height: 80vh;
    width: 50%;
    top: 10%;
    border-radius: 5px;
    z-index: 2;
    background-color: white;
    overflow: hidden;
    
    .modal-header {
        display: flex;
        justify-content: space-between;
        padding: 2%;
        border-bottom: 2px solid black;
        
        h3 {
            font-size: 3rem;
        }
    }
    
    .modal-content {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .img-cont {
            width: 100%;
        }

        p {
            margin: 2%;
            font-size: 1.7rem;
        }

    }

}


.body-blackout {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .65);
    display: none;

    &.is-blacked-out {
      display: block;
    }
  }