/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  width: 100%;
  max-width: 100%;
}
@media (max-width: 500px) {
  html {
    scroll-behavior: auto;
  }
}
* {
  max-width: 100%;
}
body {
  overflow-x: hidden;
  height: 100%;
  max-width: 100%;
}
a {
  text-decoration: none;
}
input,
textarea {
  font-family: "Roboto", sans-serif;
}
button {
  cursor: pointer;
}
h2 {
  text-align: center;
  font-size: 5rem;
}
.no-scroll {
  overflow: hidden;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
section {
  padding-top: 5%;
}
@media (max-width: 1400px) {
  section {
    padding-top: 10%;
  }
}
@media (max-width: 1024px) {
  section {
    padding-top: 15%;
  }
}
@media (max-width: 500px) {
  section {
    height: auto;
    padding-top: 20%;
  }
}
.intro {
  height: 100vh;
  padding: 0;
}
.intro canvas {
  position: absolute;
  background-color: #100e17;
  height: 100vh;
  z-index: -1;
}
.intro .cta {
  display: flex;
  flex-direction: column;
  margin: 0% auto;
  padding-top: 40vh;
  color: white;
}
@media (max-width: 500px) {
  .intro .cta {
    text-align: center;
    padding-top: 25vh;
  }
}
.intro .cta p {
  margin: 0 auto;
  font-size: 4.5rem;
  text-align: center;
}
@media (max-width: 500px) {
  .intro .cta p {
    margin-bottom: 8%;
  }
}
.intro .cta a {
  text-decoration: none;
  margin: 2% auto 0;
  width: 15%;
}
@media (max-width: 1400px) {
  .intro .cta a {
    width: 25%;
  }
}
@media (max-width: 1024px) {
  .intro .cta a {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .intro .cta a {
    width: 70%;
    margin-top: 8%;
  }
}
.cta i {
  transition: 0.2s ease;
  margin-left: 3%;
}
.cta button {
  font-size: 2rem;
  background-color: transparent;
  color: white;
  width: 100%;
  padding: 2%;
  border: 2px solid white;
  font-weight: bold;
}
@media (max-width: 1024px) {
  .cta button {
    font-size: 2.5rem;
  }
}
.cta button:hover {
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  color: black;
  background-color: white;
}
.cta button:hover i {
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  transition: 0.2s ease;
  color: black;
  transform: rotate(90deg);
}
.contact-section button {
  width: 30%;
  margin: 1% 0 0 69.5%;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  font-size: 2rem;
}
@media (max-width: 1400px) {
  .contact-section button {
    font-size: 2.5rem;
    padding: 1%;
  }
}
@media (max-width: 500px) {
  .contact-section button {
    width: 100%;
    margin: 1% 0;
  }
}
.contact-section button:hover {
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  color: white;
  background-color: black;
}
.modal a {
  background-color: black;
  color: white;
  border: 2px solid black;
  padding: 1%;
  font-size: 2.3rem;
  text-align: center;
  width: 20%;
}
.modal a:hover {
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  background-color: white;
  color: black;
}
@media (max-width: 1400px) {
  .modal a {
    width: 40%;
    padding: 2%;
  }
}
@media (max-width: 500px) {
  .modal a {
    font-size: 2rem;
    width: 45%;
  }
}
.modal .modal-close {
  font-size: 2rem;
  background: transparent;
  border: none;
}
.hamburger-cont {
  display: flex;
  justify-content: flex-end;
  background-color: #100e17;
}
.hamburger-cont i {
  color: white;
  font-size: 6rem;
  margin-right: 2%;
  padding: 2%;
}
nav {
  background-color: #100e17;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 100%;
  z-index: 1;
}
nav .nav-links {
  margin-left: 5%;
  max-width: 100%;
  padding: 1% 0;
}
@media (max-width: 1024px) {
  nav .nav-links {
    margin: 0;
    text-align: center;
  }
}
@media (max-width: 500px) {
  nav .nav-links {
    margin: 0;
  }
}
nav .nav-links a {
  color: white;
  font-size: 2rem;
  margin-right: 5%;
  outline: none;
  display: inline-block;
  position: relative;
}
@media (max-width: 1024px) {
  nav .nav-links a {
    font-size: 3.2rem;
    margin: 3% 2%;
  }
}
@media (max-width: 900px) {
  nav .nav-links a {
    width: 100%;
    padding: 0;
    font-size: 2.5rem;
    margin: 1%;
    text-align: center;
  }
}
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
nav a {
  position: relative;
  display: inline-block;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}
nav a:hover,
nav a:focus {
  outline: none;
}
.nav-links a {
  padding: 0 20px;
  height: 45px;
  line-height: 45px;
}
.nav-links a::before,
.nav-links a::after {
  position: absolute;
  width: 45px;
  height: 2px;
  background: #fff;
  content: "";
  opacity: 0.2;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
@media (max-width: 900px) {
  .nav-links a::before,
  .nav-links a::after {
    content: none;
  }
}
.nav-links a::before {
  top: 0;
  left: 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
}
.nav-links a::after {
  right: 0;
  bottom: 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.nav-links a:hover::before,
.nav-links a:hover::after,
.nav-links a:focus::before,
.nav-links a:focus::after {
  opacity: 1;
}
.nav-links a:hover::before,
.nav-links a:focus::before {
  left: 50%;
  -webkit-transform: rotate(0deg) translateX(-50%);
  -moz-transform: rotate(0deg) translateX(-50%);
  transform: rotate(0deg) translateX(-50%);
}
.nav-links a:hover::after,
.nav-links a:focus::after {
  right: 50%;
  -webkit-transform: rotate(0deg) translateX(50%);
  -moz-transform: rotate(0deg) translateX(50%);
  transform: rotate(0deg) translateX(50%);
}
.nav-links-focused-left {
  opacity: 1;
  left: 50%;
  -webkit-transform: rotate(0deg) translateX(-50%);
  -moz-transform: rotate(0deg) translateX(-50%);
  transform: rotate(0deg) translateX(-50%);
}
.nav-links-focused-right {
  opacity: 1;
  right: 50%;
  -webkit-transform: rotate(0deg) translateX(50%);
  -moz-transform: rotate(0deg) translateX(50%);
  transform: rotate(0deg) translateX(50%);
}
.about-section {
  min-height: 100vh;
}
@media (max-width: 500px) {
  .about-section {
    padding-top: 20%;
    height: auto;
  }
}
.about-section .about-and-skills {
  display: flex;
}
@media (max-width: 1024px) {
  .about-section .about-and-skills {
    align-items: center;
    margin-top: 5%;
    flex-direction: column;
  }
}
.about-section .about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 20% 5% 15%;
  width: 20%;
}
@media (max-width: 1400px) {
  .about-section .about-content {
    align-items: center;
    margin: 10% 0;
    width: 60%;
  }
}
@media (max-width: 1024px) {
  .about-section .about-content {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .about-section .about-content {
    width: 85%;
  }
}
.about-section .about-content p {
  font-size: 2rem;
}
.about-section .about-content .profile-picture-cont {
  background-color: lightgray;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 5%;
  margin-bottom: 3%;
}
@media (max-width: 1024px) {
  .about-section .about-content .profile-picture-cont {
    padding: 0;
  }
}
.about-section .about-content .profile-picture-cont p {
  text-align: center;
}
.about-section .about-content .who-am-i {
  width: 100%;
  text-align: center;
}
@media (max-width: 1024px) {
  .about-section .about-content .who-am-i {
    width: 90%;
  }
}
.about-section .about-content .who-am-i h3 {
  font-size: 3rem;
}
@media (max-width: 1024px) {
  .about-section .about-content .who-am-i h3 {
    font-size: 4rem;
  }
}
@media (max-width: 1024px) {
  .about-section .about-content .who-am-i p {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .about-section .about-content .who-am-i p {
    width: 100%;
  }
}
.about-section .skills-section {
  width: 35%;
  margin-top: 10%;
}
@media (max-width: 1400px) {
  .about-section .skills-section {
    width: 60%;
    margin-right: 5%;
  }
}
@media (max-width: 1024px) {
  .about-section .skills-section {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .about-section .skills-section {
    width: 90%;
    margin: 5%;
  }
}
.about-section .skills-section .skill {
  align-items: center;
  height: 4.3vh;
  font-size: 2rem;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
@media (max-width: 1400px) {
  .about-section .skills-section .skill {
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  .about-section .skills-section .skill {
    font-size: 2rem;
  }
}
.about-section .skills-section .skill .skill-name {
  display: flex;
  align-items: center;
  height: 100%;
  width: 90%;
}
.about-section .skills-section .skill .icon-cont {
  display: flex;
  align-items: center;
  height: 100%;
  width: 10%;
  text-align: center;
  user-select: none;
  margin: 0 2% 0 1%;
}
@media (max-width: 500px) {
  .about-section .skills-section .skill .icon-cont {
    margin-right: 2%;
  }
}
.about-section .skills-section .skill .icon-cont i {
  margin: 0 auto;
  font-size: 3.5rem;
}
@media (max-width: 1024px) {
  .about-section .skills-section .skill .icon-cont i {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .about-section .skills-section .skill .icon-cont i {
    font-size: 2.5rem;
  }
}
.about-section .skills-section .skill .open-arrow {
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  margin-right: 1%;
  user-select: none;
}
.about-section .skills-section .skill .inverted {
  transform: rotate(0.5turn);
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}
.about-section .skills-section .skill-content {
  border: 1px solid black;
  padding: 2%;
  font-size: 1.8rem;
}
@media (max-width: 1400px) {
  .about-section .skills-section .skill-content {
    font-size: 2rem;
  }
}
.projects-section {
  min-height: 100vh;
}
.projects-section .projects {
  width: 80%;
  margin: 5% auto 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5%;
  position: relative;
}
@media (max-width: 1400px) {
  .projects-section .projects {
    width: 90%;
  }
}
.projects-section .project {
  text-align: center;
  border: 1px solid black;
  width: 30%;
  margin: 0 1% 5%;
}
.projects-section .project:hover .project-image button {
  opacity: 1;
}
.projects-section .project:hover img {
  opacity: 0.3;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  transition: 0.5s ease;
}
@media (max-width: 1400px) {
  .projects-section .project {
    width: 45%;
  }
}
@media (max-width: 1024px) {
  .projects-section .project {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .projects-section .project {
    width: 100%;
  }
}
.projects-section .project .project-image {
  background-color: lightgray;
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}
.projects-section .project .project-image img {
  max-width: 100%;
  height: 100%;
}
.projects-section .project .project-image button {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 36%;
  padding: 2%;
  color: black;
  background-color: white;
  border: 2px solid black;
  width: 30%;
  font-size: 2rem;
}
.projects-section .project .project-image button:hover {
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  color: white;
  background-color: black;
}
@media (max-width: 500px) {
  .projects-section .project .project-image button {
    width: 40%;
    left: 32%;
  }
}
.projects-section .project h3 {
  padding: 2%;
  font-size: 3rem;
}
@media (max-width: 1024px) {
  .projects-section .project h3 {
    font-size: 4rem;
  }
}
.modal {
  position: fixed;
  height: 80vh;
  width: 50%;
  top: 10%;
  border-radius: 5px;
  z-index: 2;
  background-color: white;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .modal {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .modal {
    width: 100%;
  }
}
.modal .modal-header {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  border-bottom: 2px solid black;
}
@media (max-width: 1024px) {
}
@media (max-width: 500px) {
}
.modal .modal-header h3,
.modal .modal-header i {
  font-size: 3rem;
}
@media (max-width: 1024px) {
  .modal .modal-header h3,
  .modal .modal-header i {
    font-size: 4rem;
  }
}
@media (max-width: 500px) {
  .modal .modal-header h3,
  .modal .modal-header i {
    font-size: 2.5rem;
  }
}
.modal .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 90%;
  padding-bottom: 10%;
}
.modal .modal-content .image-cont {
  width: 80%;
  height: 80%;
  text-align: center;
}
.modal .modal-content .image-cont img {
  width: 100%;
  max-height: 100%;
}
.modal .modal-content p {
  margin: 2% 5%;
  font-size: 1.8rem;
  line-height: 1.5em;
}
@media (max-width: 1024px) {
  .modal .modal-content p {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .modal .modal-content p {
    font-size: 2rem;
  }
}
.modal .modal-content .modal-links {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 0 auto;
}
.body-blackout {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
}
.body-blackout.is-blacked-out {
  display: block;
}
.contact-section {
  height: 90vh;
  background-color: #100e17;
}
@media (max-width: 1400px) {
  .contact-section {
    height: 120vh;
  }
}
.contact-section h2 {
  margin-bottom: 2%;
  color: white;
}
.contact-section form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 40%;
}
@media (max-width: 1400px) {
  .contact-section form {
    width: 60%;
  }
}
@media (max-width: 1024px) {
  .contact-section form {
    width: 90%;
  }
}
.contact-section form .form-input {
  margin: 0.5%;
  padding: 1%;
  background-color: #15131f;
  border: none;
  caret-color: white;
  color: white;
  font-size: 1.8rem;
}
@media (max-width: 1400px) {
  .contact-section form .form-input {
    font-size: 2rem;
    margin: 1%;
    padding: 1.5%;
  }
}
@media (max-width: 1024px) {
  .contact-section form .form-input {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .contact-section form .form-input {
    margin: 3% 0;
    font-size: 2rem;
  }
}
.contact-section form textarea {
  min-height: 10vh;
  max-height: 30vh;
}
@media (max-width: 1400px) {
  .contact-section form textarea {
    min-height: 20vh;
  }
}
.contact-section .links {
  margin: 8% auto 0;
  width: 30%;
  text-align: center;
}
@media (max-width: 1024px) {
  .contact-section .links {
    width: 50%;
    padding-bottom: 10%;
  }
}
.contact-section .links a {
  margin: 5%;
}
.contact-section .links i {
  font-size: 4rem;
  background-color: white;
  color: #100e17;
  padding: 2% 2.44%;
  border-radius: 50%;
  border: 5px solid transparent;
}
@media (max-width: 1024px) {
  .contact-section .links i {
    font-size: 5rem;
    padding: 2% 2.6%;
  }
}
@media (max-width: 500px) {
  .contact-section .links i {
    font-size: 5rem;
  }
}
.contact-section .links i:hover {
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  border: 5px solid white;
  color: white;
  background-color: #100e17;
}
footer {
  text-align: center;
  font-size: 2rem;
  color: white;
  background-color: black;
  padding: 1%;
}
@media (max-width: 1024px) {
  footer {
    font-size: 4rem;
    padding: 3% 3% 5%;
  }
}
@media (max-width: 500px) {
  footer {
    font-size: 2rem;
  }
}
footer a {
  color: white;
}
